:root {
    --background-color: #9AA97B;
    --section-background-color: #FAF3E0;
    --primary-color: #556B2F;
    --secondary-color: #1E2130;
    --highlight-color: #C0A080;
    --button-bg-color: #9AA97B;
    --button-bg-delete-color:rgb(135, 40, 40);
    --button-hover-bg-color: #EEBE02;
    --text-color-white: #ffffff;
    --contador-bg-color: #b36416;
    --carrito-color: #f3e9cc;
    --overlay-bg-color: rgba(0, 0, 0, 0.5);
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-h4: 1.2rem;
    --font-size-overlay: 1.5rem;
    --border-radius: 10px;
    --border-radius-img: 20px;
    --general-font: 'alegreya', serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    var(--font-size-overlay);
  }

html,
body {
    background-color: var(--background-color);
    scroll-behavior: smooth;
    font-family: "Cinzel", serif;;
}

/*Header responsive*/

header.main-header{
    position: relative;
    top:0;
    width: 100%;
    z-index: 9999;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    z-index: 999;
}
.wrap-logo-header{
    display: flex;
    align-items: center;
    top: 50%;
    flex-basis:15%;
    padding-top: 0.1px;
}
.logo{
    width: 15vw;
    height: 18vh;
}

/**Menu header**/
.nav-header{
    display: flex;
    align-items: center;
    width: 100%;
}

.wrap-nav-header{
    display: flex;
    flex-basis: 50%;
}

ul.main-menu{
    display: flex;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

li.menu-item{
    margin: 0.75rem;
    display: flex;
}

li.menu-item a{
    padding: 0.5rem 1rem;
    font-size: 2rem;
    color: white;
}

li.menu-item a:hover{
    color: var(--pasta-c);
}

i.toggle-menu img{
    width: 27px;
    z-index: 99;
}

i.toggle-menu{
    display: none;
    background-color: white;
    border: none;
    z-index: 9999;
}

input#check{
    display: none;
}

@media (min-width: 880px){
    .header-wrap{
        padding: 0.5rem 0rem;
    }
}
@media (max-width: 768px){
    header.main-header{
        margin-bottom: 4rem;
    }
    .header-wrap{
        position: fixed;
        width: 100%;
        background-color: white;
        padding: 0;
        top: 0;
        z-index: 9999;
        height: 60px;
    }
    .wrap-logo-header{
        position: fixed;
        z-index: 999;
        top: 1%;
        left: 2%;
    }
    .logo, li.menu-item a{
        color: var(--blue-c);
    }
    .logo{
        height: 50px;
        width: 50px;
    }

    i.toggle-menu{
        display: flex;
    }
    ul.main-menu{
        display: none;
        left: 0;
        margin: 0;
        padding: 0;
        position: fixed;
        background-color: white;
    }
    label.checkbtn{
        position: fixed;
        right: 3%;
        top: 3%;
        z-index: 9999;
        cursor: pointer;
    }
    #check:checked ~ ul{
        display: flex;
        z-index: 9;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        font-size: 2rem;
    }
}

/*Fin del header*/

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 20px;
}

.entradas,
.fuerte,
.postres,
.bebidas,
.cocteles,
.img-entradas,
.img-fuerte,
.img-postres,
.img-bebidas,
.img-cocteles {
    background-color: var(--section-background-color);
    padding: 20px;
    border-radius: var(--border-radius);
    padding-left: 10px;
}

.entradas {
    grid-column: 1 / 2;
}

.img-entradas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
}

.img-entradas img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: var(--border-radius-img);
    position: relative;
}

.img-entradas img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color-white);
    font-size: var(--font-size-overlay);
    text-align: center;
    background-color: var(--overlay-bg-color);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    width: 90%;
    box-sizing: border-box;
    line-height: 1.4;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: var(--general-font);
}

.img-entradas img:hover+.overlay {
    opacity: 1;
}

.fuerte {
    grid-column: 1 / 2;
}

.img-fuerte {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
}

.img-fuerte img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: var(--border-radius-img);
    position: relative;
}

.img-fuerte img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.img-fuerte img:hover+.overlay {
    opacity: 1;
}

.postres {
    grid-column: 1 / 2;
}

.img-postres {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
}

.img-postres img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: var(--border-radius-img);
    position: relative;
}

.img-postres img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.img-postres img:hover+.overlay {
    opacity: 1;
}

.bebidas {
    grid-column: 1 / 2;
}

.img-bebidas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
}

.img-bebidas img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: var(--border-radius-img);
    position: relative;
}

.img-bebidas img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.img-bebidas img:hover+.overlay {
    opacity: 1;
}

.cocteles {
    grid-column: 1 / 2;
}

.img-cocteles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
}

.img-cocteles img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: var(--border-radius-img);
    position: relative;
}

.img-cocteles img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.img-cocteles img:hover+.overlay {
    opacity: 1;
}


h1 {
    color: var(--primary-color);
    font-size: var(--font-size-h1);
    font-family: var(--general-font);
}

h2 {
    color: var(--secondary-color);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-h2);
}

h4 {
    color: var(--highlight-color);
    margin: 0;
    font-size: var(--font-size-h4);
}

.carrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.agregar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: var(--button-bg-color);
    border: 0;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 25%;
    position: relative;
}

.agregar .material-symbols-outlined {
    font-size: 24px;
    color: var(--text-color-white);
}

.agregar:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: var(--button-hover-bg-color);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

p {
    text-align: right;
}
.contador{
    display:none;
}
.contador-principal {
    background-color: var(--button-hover-bg-color);
    color: var(--text-color-white);
    padding: 2px 6px;
    font-size: 14px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15px;
    height: 15px;
    line-height: 1;
}

.contador-principal:empty {
    display: none;
}

.contador:empty {
    display: none;
}

.agregar-principal {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: var(--contador-bg-color);
    border: 0;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 25%;
    position: relative;
    color: var(--text-color-white);
}

.header-carrito {
    display: flex;
    justify-content: space-between;
    /* Distribuye espacio entre el título y el botón */
    align-items: center;
    padding: 10px;
    color: var(--text-color-white);
    border-radius: 10px 10px 10px 10px;
    box-shadow: var(--secondary-color)20px 0px 2px 5px;
}

.titulo-carrito {
    flex: 1;
   
    text-align: center;
       margin: 0;
   
}
.cart-content {
    overflow-y: auto; 
    padding: 20px;
}
  
.cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.cart-items li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.Vaciar {
    background-color: var(--button-bg-delete-color);
    color: var(--text-color-white);
    border: none;
    padding: 8px;
    border-radius: 25%;
    cursor: pointer;
    transition: all 0.3s;
}
  
.Vaciar:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s;
    transform: scale(1.2);
}
.delete Symbol {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

  
.contador-principal {
    font-size: 18px;
    font-weight: bold;
}

.cerrar-carrito {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: var(--contador-bg-color);
    border: 0;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 25%;
    color: var(--text-color-white);
    margin-left: 10px;
}

.Carrito-compras.visible {
    transform: translateX(0);
    opacity: 1;
}

.no-scroll {
    overflow: hidden;
}

.cerrar-carrito:hover {
    background-color: var(--secondary-color);
    transition: all 0.3s;
    transform: scale(1.2);
}

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-color-white);
    border-radius: 0 0 25px 25px;
    box-shadow: #1E2130 0px 2px 5px;
}

.logomenu {
    width: 10vw;
    height: 18vh;
}

.main-menu {
    list-style: georgian;
    display: flex;
    place-items: center;
    justify-items: space-between;
    align-items: center;

}

.menu-item {
    margin-right: 20px;
}

.menu-item a {
    color: var(--text-color-white);
    text-decoration: none;
    font-size: var(--font-size-h4);
}

.menu-item a:hover {
    color: var(--highlight-color);
    transition: color 0.3s ease;
    border-bottom: 2px solid var(--highlight-color);
}
.Carrito-compras {
    position: fixed;
    top: 0;
    right: 0;
    width: 32%;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--carrito-color);
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    z-index: 9999;
    border-radius: 25px 0 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.Carrito-compras.visible {
    transform: translateX(0);
    opacity: 1;
}

.total-carrito {
    background-color: var(--carrito-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--secondary-color) 0px 2px 5px;
    font-family: var(--general-font);
    margin-top: auto; 
}

.datos-carrito {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.subtotal, .envio, .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--section-background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--secondary-color) 0px 2px 5px;
}

.boton-pagar {
    background-color: var(--button-bg-color);
    color: var(--text-color-white);
    font-size: 0.8rem; 
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 100%;
}
.productos-carrito {
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
    max-height: calc(100vh - 430px);
}

.producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--secondary-color);
}

.producto h4 {
    margin: 0;
    font-size: var(--font-size-h4);
}

.producto .precio {
    color: var(--primary-color);
    font-size: var(--font-size-h4);
}

.producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: var(--highlight-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 5px;
}


.nombre-producto {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.cantidad {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cantidad button {
    background-color: var(--contador-bg-color);
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.cantidad button:hover {
    background-color: var(--secondary-color);
}

.cantidad-producto {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    width: 30px;
}

.eliminar {
    background-color: var(--contador-bg-color);
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.eliminar:hover {
    background-color: var(--secondary-color);
}
.fantasia {
    animation: fantasia 0.5s ease-in-out;
  }
  
  @keyframes fantasia {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    }
    20% {
      transform: scale(1.1);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    }
    40% {
      transform: scale(1.2);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    }
    60% {
      transform: scale(1.1);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    }
    80% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    }
  }
  
  .fantasia::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--contador-bg-color);
    border-radius: 50%;
    transform: scale(0);
    animation: fantasia-before 0.5s ease-in-out;
  }
  
  @keyframes fantasia-before {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(0);
    }
  }
  
  .fantasia::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--contador-bg-color);
    border-radius: 50%;
    transform: scale(0);
    animation: fantasia-after 0.5s ease-in-out;
  }
  
  @keyframes fantasia-after {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(0);
    }
  }
@media (max-width: 1000px) {
    .parent {
        grid-template-columns: 1fr;
    }

    .img-div1,
    .img-div2,
    .img-div3 {
        grid-column: 1 / 2;
    }

    .overlay {
        font-size: 1rem;
        
    }
    .Carrito-compras {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100vh; 
        background-color:var(--carrito-color);
        padding: 20px;
      }
}

#mock {
    display: none;
}

.entradas h4{
    font-size: 1rem;
}
.entradas h2{
    font-size: 1.5rem;
}
.fuerte h4{
    font-size: 1rem;
}
.fuerte h2{
    font-size: 1.5rem;
}
.postres h4{
    font-size: 1rem;
}
.postres h2{
    font-size: 1.5rem;
}
.bebidas h4{
    font-size: 1rem;
}
.bebidas h2{
    font-size: 1.5rem;
}
.cocteles h4{
    font-size: 1rem;
}
.cocteles h2{
    font-size: 1.5rem;
}